<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>594928505445-8ivdnpc2vv331hb51151sdc6d367ovei.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.594928505445-8ivdnpc2vv331hb51151sdc6d367ovei</string>
	<key>API_KEY</key>
	<string>AIzaSyDeCtb_1Sk22GdP7hM_reJcr8JDkJPmlpU</string>
	<key>GCM_SENDER_ID</key>
	<string>594928505445</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>CdxN.PROCH</string>
	<key>PROJECT_ID</key>
	<string>coffeepitch-a8bfb</string>
	<key>STORAGE_BUCKET</key>
	<string>coffeepitch-a8bfb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:594928505445:ios:7c9c5f1eba7fb0d8</string>
	<key>DATABASE_URL</key>
	<string>https://coffeepitch-a8bfb.firebaseio.com</string>
</dict>
</plist>